[Unit]
Description=Retro Radio Py
After=network.target

[Service]
User=vinylmike
WorkingDirectory=/home/vinylmike/Retro_Radio_Py
ExecStart=/usr/bin/python3 /home/vinylmike/Retro_Radio_Py/main.py
Restart=always

[Install]
WantedBy=multi-user.target
